@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
   margin: 0;
   background-color: hsl(0, 0%, 98%);
   font-family: Poppins;
}
.tittle {
   grid-column: 1 / 4;
   grid-row: 1 / 2;
   text-align: center;
}
main {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 200px 900px;
}
.first-section-container {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   display: grid;
   grid-template-rows: auto;
}
.first-section-container .team-builder-container {
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
}
.first-section-container .karma-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.tittle, .main-tittle-1, .main-tittle-2, .main-tittle-3 {
   margin: 10px 0;
}
.tittle .main-tittle-1 {
   font-size: 36px;
   font-weight: 400;
}
.tittle .main-tittle-2 {
   font-size: 36px;
   font-weight: 600;
}
.tittle .main-tittle-3 {
   font-weight: 200;
}
.supervisor-container {
   grid-column: 1 / 2;
   grid-row: 2 / 3;
   display: flex;
   align-items: center;
   justify-content: center;
}
.calculator-container {
   grid-column: 3 / 4;
   grid-row: 2 / 3;
   display: flex;
   align-items: center;
   justify-content: center;
}
.card-container {
      border: 1px solid hsl(0, 0%, 98%);
      border-radius: 10px;
      box-shadow: 10px 10px 10px  rgb(128, 128, 128, .2);
      grid-row: 2 / 3;
      width: 80%;
      height: 40%;
}
.card-container h1 {
   font-size: 36px;
   font-weight: 600;
   margin-bottom: 10px;
   margin-left: 20px;
}
.card-container p {
   margin-top: 0;
   margin-left: 20px;
   font-size: 20px;
   font-weight: 200;
}
.card-container img {
   width: 20%;
   height: 20%;
   display: flex;
   margin-left: 70%;
   margin-top: 50px;
}
.color-builder {
   border-top: 5px solid hsl(0, 78%, 62%);
   height: 80%;
}
.color-supervisor {
   border-top: 5px solid hsl(180, 62%, 55%);
}
.color-karma {
   border-top: 5px solid hsl(34, 97%, 64%);
   height: 80%;
}
.color-calculator {
   border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (max-width: 767px) {
   main {
      display: block;
/*       grid-template-columns: 1fr;
      grid-template-rows: auto; */
   }
   .first-section-container {
      display: block;
   }
   .first-section-container div {
      margin: 10px 0 0 0;
   }
   section {
      margin: 20px 0 0px 0;
   }
}